@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

h1 {
    text-align: left;
    color: black;
    font-family: "Manrope";
    font-size: 7em;
    padding: 0;
    margin: 0;
}

h2 {
    text-align: left;
    color: black;
    font-family: "Manrope";
    font-size: 4em;
    padding: 0;
    margin: 0;
}

h3 {
    color: black;
    font-family: "Manrope";
    font-size: 2em;
    padding: 0;
    margin: 0;
}

h4 {
    color: black;
    font-family: "Manrope";
    font-size: 1.25em;
    padding: 0;
    margin: 0;
}

p {
    color: black;
    font-family: "Manrope";
    font-size: 1.25em;
    padding: 0;
    margin: 0;
}

.section-wrapper {
    background-color: white;
    position: relative;
    z-index: 0;
    width: min(100vw, 100%);
}

.section {
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    width: min(90%, 1200px);
    gap: 1em;
}

.work-experience-list {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.work-experience-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
}

.work-experience-item-header {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.work-experience-item-date {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    flex-wrap: wrap;
    color: #d0d0d0;
}
